/* Variables de color si el tema es nulo o light */
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
*{
  font-family: "Karla", sans-serif;

}
h1, p{
  font-family: "Karla", sans-serif !important;

}
body {
  color: #333333;
  background-color: #fff;
}

/* Variables de color si el tema es dark */
body[data-theme="dark"] {
  color: #adb5bd;
  background-color: #282c34;
}
.navbar[data-theme="dark"] {
  background-color: #1b1d2136;
}
.navbar {
  background-color: #f8f9fa;
}
.nav-link:hover,
.active {
  background-color: #dae0e5bd;
}
.card {
  background-color: #eeeeee  !important;
  color: #333333;
  box-shadow: 5px 5px 5px 1px #757575;
  overflow: hidden;
}
.card-footer {
  height: 300px;
  text-overflow: clip;
}
 .card-body img {
  width: 300px;
  height: 250px;

}
